{% load static %}
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col" id="company">
        <img src="{% static 'img/logo1.png' %}" alt="" class="logo">
        <p>
          Pineda Motor's es tu destino exclusivo para productos automotrices de primera calidad. Nos especializamos en la venta de lubricantes premium, filtros de alta eficiencia y otros productos esenciales. Nuestro amable personal está listo para brindarte asesoramiento experto y recomendaciones personalizadas. En Pineda Motor's, garantizamos calidad y excelencia en cada compra. ¡Confía en nosotros para cuidar de tu vehículo con los mejores productos del mercado
        </p>
      </div>
      <div class="col" id="services">
        <h3>Services</h3>
        <div class="links">
            <a href="#">Sell And Buy NFT</a>
          <a href="#">ICO</a>
          <a href="#">BID</a>
          <a href="#">Sell And Buy physical Art</a>
        </div>
        
      </div>
      
      <div class="col" id="useful links">
        <h3>Links</h3>
        <div class="links">
            <a href="#">Upload NFT</a>
          <a href="#">Blog</a>
          <a href="#">Collection</a>
          <a href="#">connect Wallet</a>
        </div>
        
      </div>
      
      <div class="col" id="contact">
        <h3>Contact</h3>
        <div class="contact-detail">
          <i class="fa fa-location"></i>
          <p>via calpurnio pisone 80</p>
        </div>
        <div class="contact-detail">
          <i class="fa-solid fa-envelope"></i>
          <p>via calpurnio pisone 80</p>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="form">
        <form action="">
          <input type="email" placeholder="insert your email ...">
          <button><i class="fa-solid fa-envelope"></i></button>
        </form>
      </div>
    </div>
    <div class="rowend">
     
          <div class="colcopyright">
            <a href=""> © fintechcoin company S.R.L</a>
          </div>
       <div class="colprivacy">
      
          <a href="">Privacy Policy</a>
        <a href="">Terms Of Service</a>
        
      
      </div>

    </div>

  </div>

</footer>
{% include 'partials/scripts.html' %}