{% extends 'partials/body.html' %}
{% block contenido %}

<div class="container-fluid m-5">
<a href="{% url 'productos-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>
{% if visualizar == 1 %}
<a href="{% url 'productos' 0 %}" class="btn btn-success w-25">
{% else %}
<a href="{% url 'productos' 1 %}" class="btn btn-success w-25">
{% endif %}
{% if visualizar == 1 %}
Mostrar {{titulo}} Activos
{% else %}
Ocultar {{titulo}} Inactivos
{% endif %}
</a>
</div>

<div class="container-fluid mb-5">
<table id="lista-tabla" class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for productos in productos %}
        <tr
            {% if producto.estado != "1" %}
             class="bg-warning"
            {% endif %}
        >

            <td>{{producto.nombreProducto}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.categoria}}</td>
            <td>{{producto.precio}}</td>
            <td>
                <button type="button" data-indet="{{producto.id}}" class="btnEliminar btn btn-danger"
                data-bs-toggle="modal" data-bs-target="#modalConf">
                <i class="bi bi-trash"></i>
                </button>
                <a class="btn btn-primary" href="{% url 'productos-modificar' productos.id %}"> 
                    <i class="bi bi-pencil-square"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="container-fluid p-5">
    <nav class="pt-5">
        <ul class="pagination">
            {% if productos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ productos.previous_page_number}}" tabindex="-1">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
            </li>
            {% endif %}
            {% for num in productos.paginator.page.range %}
                {% if usuarios.number == num %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{num}}</a>
                </li>
                {% else %}
                {% if num > productos.number|add:'-2' and num < productos.number|add:'1' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}"></a>
                </li>
                {% endif %} 
                {% endif %}
            {% endfor %}
            {% if productos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ productos.next_page_number }}">Siguiente</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-disabled="true">Siguiente</a>
            </li>
            {% endif %}              
        </ul>
    </nav>
</div>
{% endblock contenido %}